@tailwind base;
@tailwind components;
@tailwind utilities;

.diamond-motion {
    animation: diamondBob 3s ease-in-out infinite alternate;
}

@keyframes diamondBob {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}