@tailwind base;
@tailwind components;
@tailwind utilities;

.diamond-motion {
    animation: diamondBob 3s ease-in-out infinite alternate;
}

@keyframes diamondBob {
    from {
        transform: translateY(-10px);
        filter: brightness(120%);
    }
    to {
        transform: translateY(10px);
        filter: brightness(100%);
    }
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}