@tailwind base;
@tailwind components;
@tailwind utilities;

.hero__headline::after {
  content: '';
  position: absolute;
  bottom: 1.5vmin;
  left: 0;
  width: 100%;
  height: 1.5vmin;
  background: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms cubic-bezier(0.25, 1, 0.5, 1) 200ms;
}

.hero.active .hero__headline::after {
  transform: scaleX(1);
  transition-delay: 0s;
}

.hero__headline span {
  transition: transform 400ms cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(110%);
}

.hero.active .hero__headline span {
  transform: translateY(0);
  transition-delay: 200ms;
}

.diamond-motion {
  animation: diamondBob 3s ease-in-out infinite alternate;
}

@keyframes diamondBob {
  from {
    transform: translateY(-10px);
    filter: brightness(120%);
  }
  to {
    transform: translateY(10px);
    filter: brightness(100%);
  }
}

.downArrow-motion {
  animation: downArrow 1.2s ease-in-out infinite alternate;
}

@keyframes downArrow {
  from {
    bottom: 1.75rem;
  }
  to {
    bottom: 3rem;
  }
}

.arrow-motion {
  animation: arrowBottom 1s ease-in-out infinite alternate;
}

@keyframes arrowBottom {
  from {
    transform: translateY(-10px);
    filter: brightness(120%);
  }
  to {
    transform: translateY(10px);
    filter: brightness(100%);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/*////////////////////////////////// Loader //////////////////////////////////*/

.container {
  width: 112px;
  height: 112px;
}

.box1,
.box2,
.box3 {
  border: 4px solid #0d1218;
  border-radius: 12px;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.box1 {
  width: 112px;
  height: 48px;
  margin-top: 64px;
  margin-left: 0;
  animation: anime1 3s 0s ease-in-out infinite forwards;
}

.box2 {
  width: 48px;
  height: 48px;
  margin-top: 0;
  margin-left: 0;
  animation: anime2 3s 0s ease-in-out infinite forwards;
}

.box3 {
  width: 48px;
  height: 48px;
  margin-top: 0;
  margin-left: 64px;
  animation: anime3 3s 0s ease-in-out infinite forwards;
}

@keyframes anime1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }
  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }
  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }
  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }
  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }
  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }
  75% {
    width: 48px;
    height: 112px;
    margin-top: 0;
    margin-left: 0;
  }
  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }
}

@keyframes anime2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }
  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }
  25% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }
  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }
  50% {
    width: 112px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }
  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }
  75% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }
  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }
  100% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }
}

@keyframes anime3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }
  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }
  25% {
    width: 48px;
    height: 112px;
    margin-top: 0;
    margin-left: 64px;
  }
  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }
  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }
  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }
  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }
  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }
  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }
}
/* /////////// loader  */
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}
.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #000;
  opacity: 0.25;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #29c9e1;
  animation: bxSpin 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}
@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

/*/////////// color ///////////*/

/*!* Dynamic cosmic  *!*/
/*.cosmic-background {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: radial-gradient(ellipse at bottom, var(--currency-primary) 0%, var(--currency-background) 100%);*/
/*    overflow: hidden;*/
/*}*/

/*.cosmic-background::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-image: radial-gradient(var(--currency-secondary), rgba(245, 244, 246, 0.2) 2px, transparent 40px),*/
/*    radial-gradient(var(--currency-secondary), rgba(245, 244, 246, 0.15) 1px, transparent 30px),*/
/*    radial-gradient(var(--currency-secondary), rgba(245, 244, 246, 0.1) 2px, transparent 40px);*/
/*    background-size: 550px 550px, 350px 350px, 250px 250px;*/
/*    background-position: 0 0, 40px 60px, 130px 270px;*/
/*    animation: twinkle 15s linear infinite;*/
/*}*/

/*@keyframes twinkle {*/
/*    0% {*/
/*        transform: translateY(0);*/
/*    }*/
/*    100% {*/
/*        transform: translateY(-100%);*/
/*    }*/
/*}*/
